@model OnlineForum.Core.Models.Thread
@{string upvoteCssClass = ViewBag.HasUserUpvoted ? "btn-success" : "btn-primary";}
@{string downvoteCssClass = ViewBag.HasUserDownvoted ? "btn-danger" : "btn-primary";}


<div class="panel panel-default">
    
    <div class="panel-body">

            <div class="row">

                <div class="col-xs-1 threadRatingSection">

                    <div class="row">
                        <button class="btn @upvoteCssClass btn-xs threadUpvoteButton @Model.ThreadId" onclick="threadVoting.upvoteThread(@Model.ThreadId, '@Url.Action("Upvote", "Forum")')">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                        </button>
                    </div>

                    <div class="row threadScore @Model.ThreadId">
                        @Model.GetScore()
                    </div>
                    
                    

                    <div class="row">
                        <button class="btn @downvoteCssClass btn-xs threadDownvoteButton @Model.ThreadId" onclick="threadVoting.downvoteThread(@Model.ThreadId, '@Url.Action("Downvote", "Forum")')">
                            <span class="glyphicon glyphicon-arrow-down"></span>
                        </button>
                    </div>

                </div>

                <div class="col-xs-11">

                    <div class="row threadTitle">
                        <a asp-controller="Comments" asp-action="Index" asp-route-threadId="@Model.ThreadId">@Model.Title</a>
                    </div>

                    @if (Convert.ToBoolean(@ViewData["ShowFullContent"]))
                    {
                        <div class="row threadContent">
                            @Model.Content
                        </div>
                    }
                    else
                    {
                        <div class="row threadContentAll">
                            @Model.Content
                        </div>
                    }


                    <div class="row">
                        <small>Submitted @DateTime.Now.Subtract(@Model.Created).Humanize() ago by <a asp-controller="Users" asp-action="User" asp-route-userId="@Model.User.UserId">@Model.User.UserName</a>
                        </small>
                    </div>

                    <div class="row">
                        <a asp-controller="Comments" asp-action="Index" asp-route-threadId="@Model.ThreadId"><small>@Model.Comments.Count Comments</small></a>

                        @if (User.GetCurrentUserId() == @Model.User.UserId)
                        {
                            <a asp-controller="Forum" asp-action="Edit" asp-route-threadId="@Model.ThreadId"><small>Edit</small></a>
                            <a asp-controller="Forum" asp-action="Delete" asp-route-threadId="@Model.ThreadId" style="color: red;"><small>Delete</small></a>
                        }
                    </div>

                </div>


        </div>

    </div>

</div>
