@model OnlineForum.Core.Models.Thread


<div class="panel panel-default">
    <div class="panel-body">
           
        <div class="container">
            
            <div class="row">
            
                <div class="col-xs-1 threadRatingSection">

                    <div class="row">
                        <form asp-controller="Forum" asp-action="Upvote" asp-route-threadId="@Model.ThreadId" method="post">
                            <button class="btn btn-primary">
                                <span class="glyphicon glyphicon-arrow-up"></span>
                            </button>
                        </form>
                    </div>

                    <div class="row score">
                        @Model.GetScore()
                    </div>

                    <div class="row">
                        <form asp-controller="Forum" asp-action="Downvote" asp-route-threadId="@Model.ThreadId" method="post">
                            <button class="btn btn-primary">
                                <span class="glyphicon glyphicon-arrow-down"></span>
                            </button>
                        </form>
                    </div>

                </div>
                
                <div class="col-xs-11">

                    <div class="row threadTitle">
                        <a asp-controller="Comment" asp-action="Comments" asp-route-threadId="@Model.ThreadId">@Model.Title</a>
                    </div>

                    @if (Convert.ToBoolean(@ViewData["ShowFullContent"]))
                    {
                        <div class="row threadContent">
                            @Model.Content
                        </div>
                    }
                    else
                    {
                        <div class="row threadContentAll">
                            @Model.Content
                        </div>
                    }


                    <div class="row">
                        <small>Submitted @DateTime.Now.Subtract(@Model.Created).Humanize() ago by @Model.User.UserName</small>
                    </div>

                    <div class="row">
                        <a asp-controller="Comment" asp-action="Comments" asp-route-threadId="@Model.ThreadId"><small>@Model.Comments.Count Comments</small></a>
                        &nbsp;
                        <a asp-controller="Forum" asp-action="Edit" asp-route-threadId="@Model.ThreadId"><small>Edit</small></a>
                        &nbsp;
                        <a asp-controller="Forum" asp-action="Delete" asp-route-threadId="@Model.ThreadId" style="color: red;"><small>Delete</small></a>
                    </div>

                </div>

            </div>

        </div>
        
    </div>

</div>

<script type="text/javascript">
    
</script>