@model OnlineForum.Core.Models.CommentNode

<ul class="list-group">
    <li class="list-group-item" >
        
        <div class="commentHeader">
            Submitted @DateTime.Now.Subtract(@Model.Comment.Created).Humanize() ago by @Model.Comment.User.UserName
        </div>

        <div class="commentContent">
            @Model.Comment.Content
        </div>
            
        <div class="commentFooter">
            <a asp-action="Add" asp-route-parentId="@Model.Comment.CommentId" asp-route-threadId="@Model.Comment.Thread.ThreadId">
                Reply
            </a>
        </div>
            

        @if (Model.ChildComments.Any())
        {

            foreach (var childComment in Model.ChildComments)
            {

                @Html.Partial("_Comment", childComment)
            }
        }

    </li>
</ul>










