@model System.Collections.Generic.IEnumerable<OnlineForum.Core.Models.Thread>

@{
    Layout = "_Layout";
}

<div class="panel">
    <a asp-controller="Forum" asp-action="Create" class="btn">Create</a>
</div>

@foreach (var thread in Model)
{
    <div class="panel panel-default">
        <div class="panel-body">
           
            <div class="row threadPost">

                <div class="col-md-2 text-center threadRatingSection">

                    <div class="row text-center">
                        <form asp-action="Upvote" asp-route-threadId="@thread.ThreadId" method="post">
                            <button class="btn btn-primary">
                                <span class="glyphicon glyphicon-arrow-up"></span>
                            </button>
                        </form>
                    </div>
                    
                    <div class="row score">
                        @thread.GetScore()
                    </div>

                    <div class="row text-center">
                        <form asp-action="Downvote" asp-route-threadId="@thread.ThreadId" method="post">
                            <button class="btn btn-primary">
                                <span class="glyphicon glyphicon-arrow-down"></span>
                            </button>
                        </form>
                    </div>

                </div>

                <div class="col-md-8">
                    <div class="row threadTitle">     
                        <a asp-controller="Comment" asp-action="Comments" asp-route-threadId="@thread.ThreadId">@thread.Title</a>
                    </div>
                    <div class="row">
                        @thread.Content
                    </div>
                    <div class="row">
                        <small>Submitted by @thread.User.UserName at @thread.Created</small>
                    </div>
                </div>

                <div class="col-md-2 ">
                    <div class="row">
                        <a asp-action="Edit" asp-route-threadId="@thread.ThreadId" class="btn btn-link">Edit</a>
                    </div>
                    <div class="row">
                        <form asp-action="Delete" asp-route-threadId="@thread.ThreadId" method="post">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>

    </div>
        
}

